/* AYUDA MEMORIA: Los IDs son para usar una sola vez cada vez. La class es la que se usa para multiples elementos */

html {
    height: 110%;
    margin-bottom: 0.01em;

/* Fuente y Textos */
	font-family: Ek Mukta;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
/*	display: flex;
	align-items: center;
	text-align: center; */
	letter-spacing: 0.0125em;
	color: #F4F9FA;

}

body {
/*	background: rgb(2,0,36);
	background: linear-gradient(45deg, rgba(2,0,36,0.17970938375350143) 0%, rgba(229,229,255,0.7847514005602241) 0%, rgba(212,248,255,1) 100%); */
	width: 100%;
	max-width: 1366px;
	max-height: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #007991;
}

header {
/*	width: 100%; */
/*	max-width: 1800px; */
	height: 120px;
/*	background-color: lightblue; */
	display: block;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	padding-top: 40px;
}

header h3 {
/*	text-align: center; */
	padding-top: 0px;
/*	font-family: 'Barlow', sans-serif;
	font-style: italic; */
}

nav {
	height: 120px;
/*	background-color: pink; */
	top: 120px;
	display: inline-block;
	margin-left: 20%;
	right: 10px;
}

article {
/*	width: 100%;
	max-width: 70%; */
/*	max-width: 929px; */
/*	background-color: yellow; */
/*	display: inline-block; */
	float: right;
	overflow: auto;
}

aside {
	display: grid;
	width: 50%;
	margin-left: 15%;
	margin-top: 30px;
}

aside table	{
	text-align: center;
	margin-left: 10px;
}

aside p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

aside h2 {
	text-align: center;
}

footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 0px;
/*    background-color: purple; */
    text-align: center;
}

footer p {
	padding-top: 45px;
	font-weight: bold;
	font-style: italic;
}

/* El menu con tabla queda deprecated. Ahora usamos grids
.menu {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	height: 50px;
}

.menu th:hover {
	background: radial-gradient(circle, lightblue 0%, lightgreen 100%);
}
*/

.centrar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.tab-ref {
	max-width: 200px;
}

.selected-menu {
	padding-top: 44px;
	background: #007991;
	box-shadow: inset -9px -9px 16px rgba(0, 170, 204, 0.5), inset 9px 9px 16px rgba(0, 85, 102, 0.5);
	border-radius: 56px;
	width: 118px;
	height: 72px;
}

.grid-tabla {
	margin-left: 25%;
	width: 50%;
	text-align: center;
	display: grid;
	grid-template-columns: 50% auto;
}

.grid-item {
	vertical-align: top;
}

.content-style {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.grid-menu {
	display: inline-grid;
	grid-template-columns: 100% 100% 0%;
	max-width: 1366px;
	width: 50%;
	text-align: center;
}

.grid-menu a {
	color: #F4F9FA;
	text-decoration: none;
}

.grid-menu-item {
	padding-top: 44px;
	background: #007991;
	box-shadow: -9px -9px 16px rgba(0, 170, 204, 0.5), 9px 9px 16px rgba(0, 85, 102, 0.5);
	border-radius: 56px;
	width: 118px;
	height: 72px;

}

/* .grid-menu-item:hover {
	background: radial-gradient(circle, white 0%, rgba(212,248,255,1) 100%);
} */

.calculadora-contenedor {
	max-width: 400px;
	width: 100%;
	border: 1px solid;
}